* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.list {
  position: relative;
  width: 230px;
  height: 665px;
  margin-right: 20px;
  float: left;
  background-color: #eee;
}

.container {
  margin: 0 auto;
  padding: 10px;
  width: 550px;
  float: left;
  /* background-color: red; */
}

paper-input {
  display: block;
  font-size: 16px;
  padding: 0;
  width: 500px;
}

paper-input-decorator {
  display: block;
  font-size: 16px;
  padding: 15px auto 0 auto;
  width: 500px;
}

paper-radio-button {
  font-size: 16px;
}

paper-button {
  display: block;
  margin: 30px auto 0 auto;
  width: 100px;
  font-size: 16px;
}

#btnMount {
  color: #fff;
  background-color: #4285f4;
}

paper-item {
  word-wrap: break-word;
}

.list {
  overflow-y: auto;
}