* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 14px;
}

.container-fluid {
  padding: 0;
}

.list {
  position: absolute;
  width: 230px;
  top: 0;
  bottom: 0;
  background-color: #eee;
}

#credentials {
  position: absolute;
  top: 0;
  bottom: 49px;
  width: 100%;
  padding: 10px 10px 0 10px;
  overflow-y: auto;
  z-index: 2;
}

.credential {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

.credential-info {
  width: 180px;
  word-wrap: break-word;
  cursor: pointer;
}

.btn-credential-remove {
  cursor: pointer;
}

.toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #2298f2;
  z-index: 2;
}

.toolbar div {
  color: white;
  font-size: 32px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.main {
  position: absolute;
  left: 230px;
  right: 0;
  top: 0;
  bottom: 0;
}

.main form {
  margin: 10px 10px 0 10px;
}

div.header {
  margin-top: 5px;
}

#logo {
  width: 48px;
  height: 48px;
}

h2 {
  font-size: 20px;
}

.buttons {
  margin-top: 20px;
}

img.season {
  position: absolute;
  width: 24px;
  height: 24px;
}

#privatekey {
  resize: none;
}

.form-control-static {
  word-wrap: break-word;
}
