* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 14px;
}

.list {
  position: relative;
  width: 230px;
  height: 517px;
  margin-right: 20px;
  float: left;
  background-color: #eee;
}

.container {
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  width: 550px;
  float: left;
  /* background-color: red; */
}

h2 {
  margin-bottom: 10p;
}

paper-input {
  display: block;
  font-size: 16px;
  padding: 0;
  width: 500px;
}

paper-input-decorator {
  display: block;
  font-size: 16px;
  padding: 15px auto 0 auto;
  width: 500px;
}

paper-radio-button {
  font-size: 16px;
}

paper-button {
  display: block;
  margin: 20px auto 0 auto;
  width: 100px;
  font-size: 16px;
}

#btnMount {
  color: #fff;
  background-color: #4285f4;
}

paper-item {
  word-wrap: break-word;
}

core-menu {
  margin: 0;
  overflow-y: auto;
}

core-toolbar {
  background-color: #2298f2;
}

core-toolbar paper-icon-button {
  color: white;
}

div.fieldContainer {
  width: 500px;
}
